.subject_creater {
    padding: 2rem 0;
    background-color: rgb(246, 247, 251);
}

.subject_creater__title h3 {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.subject_creater__form {
    padding: 2rem 0;
}

.form_creater input {
    background-color: rgb(246, 247, 251);
    border: none;
    padding: 0;
    border-bottom: 3px solid rgb(48, 53, 69);
    border-radius: 0;
    width: 50%;
    overflow-wrap: break-word;
}

.form_creater input:focus {
    border-color: rgb(255, 205, 31);
    box-shadow: none;
    background-color: rgb(246, 247, 251);
}

.form_creater select {
    background-color: rgb(246, 247, 251);
    border: none;
    padding: 0;
    border-bottom: 3px solid rgb(48, 53, 69);
    border-radius: 0;
    width: 50%;
}

.form_creater select:focus {
    background-color: rgb(246, 247, 251);
    border-color: rgb(255, 205, 31);
    box-shadow: none;
}

.border--danger {
    color: red;
}

.form_creater label {
    padding: 0;
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: rgb(178, 185, 199);
}

.card_creater {
    padding-top: 3rem;
}

.card_creater__item {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem .5rem 0 .5rem;
    margin-bottom: 1rem;
    width: 100%;
    margin-left: 0;
}

.card_creater__item input{
    width: 100%;
    background-color: white;
}

.card_creater__item input:focus {
    background-color: white;
}

.btn-add {
    background-color: white;
    width: 100%;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 10px;
}

.btn-add a {
    background-color: white;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    border-bottom: 3px solid rgb(60, 207, 207);
}

.btn-add a:hover {
    color: rgb(255, 205, 31);
    border-color: rgb(255, 205, 31);
}

/* text area */
.resize-ta {
    resize: none;
    padding: .5rem;
    overflow: hidden;
    height: 100%;
}

.resize-ta:focus {
    box-shadow: none;
    border-color: rgb(255, 205, 31);
}

.btn--create--wrapper {
    display: flex;
    margin-top: 1.5rem;
    justify-content: flex-end;
}

.btn--create {
    background-color: rgb(60, 207, 207);
    padding: 1rem 3rem;
    color: white;
    font-weight: bold;
}

.card_creater_feature {
    display: flex;
    justify-content: flex-end;
}

.card_creater_feature button {
    background-color: white;
    border: none;
    padding-bottom: .5rem;
    color: rgb(48, 53, 69);
    position: relative;
}

.card_creater_feature button:hover {
    color: rgb(255, 205, 31);
}
    

.card_creater_feature button:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: rgb(59, 76, 155);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: .55rem;

    position: absolute;
    z-index: 1;
    top: 90%;
    left: -90%;
}

.disabled i {
    opacity: 0.5;
}